#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: "#FEFFFE";
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-align: left;
}

.developer-photo img{
  /*Sets the height and width of the image */
  max-width: 200px;
  max-height: 200px;
  /*Sets the margin at the bottom of the image */
  margin-bottom: 25px;
  /*Sets the background position of the image */
  background-position: center;
  /* Change the corner radius so the photo looks more round*/
  border-radius: 65px 65px 65px 65px;
  /* Adds shadow effec to the photo*/
  box-shadow: 5px 5px 5px var(--photo-border-color);
  /* Set line style of the border of the photo*/
  border-style: solid;
   /* Set the width of the border of the photo*/
  border-width: 1px;
  /* Set the color of the border of the photo*/
  border-color: var(--photo-border-color);
}